.app {
	margin: auto;
	text-align: center;
	max-width: 1240px;
	height: 100vh;
}

.scroll {
	height: 100%; /* высота нашего блока */
	width: 100%; /* ширина нашего блока */
	overflow-y: scroll;
	border: none;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: #1c1c1e;
	border: none;
}

::-webkit-scrollbar-thumb {
	height: 492px;
	background: #8585ad;
}

.h2 {
	text-align: left;
}
.main {
	height: 100%;
	text-align: left;
	display: grid;
	grid-template-columns: repeat(2, 600px);
	column-gap: 40px;
}

.orderStatus {
	display: grid;
	grid-template-columns: repeat(2, auto);
	column-gap: 36px;
}

.ready {
	list-style: none;
	color: #0cc;
}

.inProgress {
	list-style: none;
}

.container_order {
	background-color: #1c1c1e;
	border-radius: 40px;
}

.link {
	text-decoration: none;
	color: white;
}

.total {
	display: flex;
}

.order {
	display: flex;
	justify-content: space-between;
}

.images {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.status {
	color: #0cc;
}

.image_container {
	display: inline-flex;
	flex-direction: row;
}

.image_div:first-of-type {
	margin: 0;
}

.image_div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 59px;
	height: 59px;
	background: #131316;
	border-radius: 100px;
	background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%),
		linear-gradient(0deg, #131316, #131316);
	border-image-source: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
	margin-left: -20px;
}

.image {
	background-color: #131316;
	border-radius: 100px;
	height: 56px;
	width: 56px;
	object-fit: cover;
}

@media screen and (max-width: 1200px) {
	.main {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 10px;
	}
}

@media screen and (max-width: 780px) {
	.main {
		grid-template-columns: repeat(1, minmax(360px, 1fr));
	}
}

/* {orderIngredientsArr.slice(0, 5).map((element: any) => (
	<div className={`${styles.img_overlay} ${styles.img}`}>
		<img className={styles.img} src={element.image} />
	</div>
))} */

.img_overlay:first-of-type {
	margin: 0;
}

.img_overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	background: #131316;
	border-radius: 100px;
	border: 2px solid;
	background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%),
		linear-gradient(0deg, #131316, #131316);
	border-image-source: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
	margin-left: -20px;
}
